<%= link_to '', contacts_path, :class => 'main-link' %>
<% if @contact.errors.any? %>
    <div class="alert alert-error">
      <h3>Пожалуйста, исправьте следующие проблемы:</h3>
      <ul>
        <% @contact.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @contact, :html => {:class => 'form-inline'} do |f| %>
    <%= f.text_field :name, :class => 'input-large',  :placeholder => 'Имя', :autofocus => 'autofocus' %>
    <%= f.text_field :phone, :class => 'input-large',  :placeholder => 'Телефон' %>
    <%= f.text_field :email, :class => 'input-large',  :placeholder => 'Email' %>
    <div class="clearfix"></div>
    <div class="form">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
<% end %>