<% if @contact.errors.any? %>
    <div class="alert alert-error">
      <h3>Пожалуйста, исправьте следующие проблемы:</h3>
      <ul>
        <% @contact.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @contact do |f| %>
    <%= f.label "Имя", :class => 'label-auto' %>
    <%= f.text_field :name, :class => 'text-field' %>
    <%= f.label "Телефон", :class => 'label-auto' %>
    <%= f.text_field :phone, :class => 'text-field' %>
    <%= f.label :email, :class => 'label-auto' %>
    <%= f.text_field :email, :class => 'text-field' %>
    <div class="clearfix"></div>
    <div class="form-actions">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
<% end %>