<%= link_to '', contacts_path, :class => 'main-link' %>
<% if @contact.errors.any? %>
    <div class="alert alert-error">
      <h3>Пожалуйста, исправьте следующие проблемы:</h3>
      <ul>
        <% @contact.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @contact, :html => {:class => 'form-inline'} do |f| %>
    <%= f.text_field :name, :class => 'input-large',  :placeholder => 'Имя*', :autofocus => 'autofocus', :required => 'required' %>
    <%= f.text_field :phone, :class => 'input-large',  :placeholder => 'Телефон', :type => 'tel', :pattern => '[+,8][0-9]{10,13}' %>
    <%= f.text_field :email, :class => 'input-large',  :placeholder => 'Email', :type => 'email' %>
    <div class="clearfix"></div>
    <div class="form">
      <%= f.submit :class => 'btn btn-primary', :id => 'sub' %>
    </div>
<% end %>