<%if model_signed_in?%>

    <div class="alert alert-info" id="del-mes">Ваш контакт был успешно удален</div>
    <% provide :title, 'Главная' %>
    <h1 id="title">Контакты</h1>
    <%= link_to '', new_contact_path, :class => 'btn-up' %>
    <div class="clearfix"></div>
    <div id="user-info"><%= current_model.email %></div>
    <%= link_to "Выйти", destroy_model_session_path, :class => 'btn btn-small', :method => :delete %>
    <div class="clearfix"></div>
    <table class="table" id="tab">
      <tr class="table-up">
        <td class="title-table1">Имя(<%= @contacts.count %>)</td>
        <td class="title-table2">Телефон</td>
        <td class="title-table3">Email</td>
        <td></td>
        <td></td>
      </tr>
      <%= render(@contact) %>
      <table class="table" id="add-1"></table>
    </table>
    <div id="upload"></div>
    <p><%= link_to 'Добавить контакт', new_contact_path, :class => 'btn btn-primary' %></p>

<%else%>
    <% provide :title, 'Главная' %>
    <h1 id="title">Контакты</h1>
    <div id="header-reg"><p class="main-reg-links"><%= link_to "Регистрация", new_model_registration_path%>
    <%= link_to "Войти", new_model_session_path%></p></div>
    <div class="clearfix"></div>
    <div id="title-main-des">Что это такое:</div>
    <div id="info-main"><span>Контакты</span> - это средство для простого хранения контактных данных с простым и красивым
    интерфейсом. Получите доступ к необходимой информации из любой точки мира, делайте резервную копию вашей телефонной
    книги с дальнейшей возможностью быстрого и простого восстановления потерянных данных.</div>
    <div id="main-imgs"><img src="/assets/1scr.png"> <img src="/assets/2scr.png"> </div>


<%end%>







