<% provide :title, 'Главная' %>

<h1>Контакты</h1>

<h2>Персональная телефонная (и email) книга.</h2>

<table class="table">
  <tr>
    <td class="title-table1">Имя</td>
    <td class="title-table2">Телефон</td>
    <td class="title-table3">Email</td>
    <td></td>
    <td></td>
  </tr>
  <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.email %></td>
        <td><%= link_to 'Изменить', edit_contact_path(contact) %></td>
        <td><%= link_to 'Удалить', contact, :method => :delete, :data => { :confirm => 'Вы уверены?' } %></td>
      </tr>
  <% end %>
</table>

<p><%= link_to 'Добавить контакт', new_contact_path, :class => 'btn btn-primary' %></p>
