<!DOCTYPE html>
<html>
<head>
  <title>Контакты | <%= yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <script type="text/javascript">
      $(function() {
          $("#goTop").scrollToTop();
      });
  </script>
</head>
<body onload="load();">
<div id="goTop">^</div>
<div class="container" id="cont">
  <% if flash[:notice] %>
      <div class="alert alert-info" id="hide"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
      <div class="alert alert-error"><%= flash[:alert] %></div>
  <% end %>

  <%= yield %>
</div>
<div class="modal-footer">
  <p>Работает на <a href="http://www.rubyonrails.ru/">Ruby on Rails</a></p>
  <p><a href="http://vk.com/nikita_bobrik">Никита Бобрик</a></p>
</div>
</body>
<script src="assets/queryeffects.js" type="text/javascript"></script>
</html>
